.mat-horizontal-stepper-wrapper{
    height: 85dvh !important;
}

form {
    width: 600px;
    height: 85dvh;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    // margin-top: 20px;
    padding: 1rem;
    max-width: 600px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    font-family: 'Segoe UI', sans-serif;

    label {
        font-weight: 600;
        margin-bottom: 0.3rem;
        display: block;
        color: #333;
    }

    // select,
    // input[type='text'],
    // input[type='email'],
    // input[type='number'],
    // input[type='date'] {
    //     width: 100%;
    //     padding: 0.5rem 0.75rem;
    //     font-size: 1rem;
    //     border: none;
    //     border-radius: 6px;
    //     background-color: transparent;
    //     transition: border-color 0.2s ease;

    //     &:focus {
    //         border-color: #3f51b5;
    //         outline: none;
    //     }
    // }

    //   select,
    // input[type='text'],
    // input[type='email'],
    // input[type='number'],
    // input[type='date'] {
    //     width: 100%;
    //     padding: 0.5rem 0.75rem;
    //     font-size: 1rem;
    //     border: 1px solid #ccc;
    //     border-radius: 6px;
    //     background-color: #fff;
    //     transition: border-color 0.2s ease;

    //     &:focus {
    //         border-color: #3f51b5;
    //         outline: none;
    //     }
    // }

    input[type='checkbox'] {
        margin-right: 0.5rem;
        transform: scale(1.2);
    }

    div {
        display: flex;
        flex-direction: column; 
    }

    button {
        align-self: flex-start;
        padding: 0.6rem 1.2rem;
        background-color: #1976d2;
        color: #fff;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #1565c0;
        }
    }
}