<mat-horizontal-stepper [linear]="true" #stepper>
  <!-- Step 1 -->
  <mat-step [stepControl]="typeForm" *ngIf="pageType==='create'">
    <form [formGroup]="typeForm">
      <ng-template matStepLabel>Select Entity Type</ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Entity Type</mat-label>
        <mat-select formControlName="entityType" (selectionChange)="onEntityTypeChange()">
          <mat-option *ngFor="let type of entityTypes" [value]="type">{{
            type
            }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext [disabled]="!typeForm.valid">
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <!-- Step 2 -->
  <mat-step [stepControl]="entityForm">
    <form [formGroup]="entityForm">
      <ng-template matStepLabel>Enter {{ selectedEntity }} Details</ng-template>

      <!-- Dynamically render fields -->
      <ng-container [ngSwitch]="selectedEntity">
        <!-- Board -->
        <div *ngSwitchCase="'Board'">
          <mat-form-field appearance="fill">
            <mat-label>Board Name</mat-label>
            <input matInput formControlName="BoardName" required />
          </mat-form-field>
        </div>

        <!-- Sprint -->
        <div *ngSwitchCase="'Sprint'">
          <mat-form-field appearance="fill">
            <mat-label>Sprint Name</mat-label>
            <input matInput formControlName="SprintName" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Sprint Number</mat-label>
            <input matInput formControlName="SprintNo" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Sprint Point</mat-label>
            <input matInput formControlName="SprintPoint" type="number" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="startDatePicker" formControlName="StartDate" readonly
              (click)="startDatePicker.open()" />
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>End Date</mat-label>
            <input matInput [matDatepicker]="endDatePicker" formControlName="EndDate" (click)="endDatePicker.open()"
              readonly />
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Story -->
        <div *ngSwitchCase="'Story'">
          <mat-form-field appearance="fill">
            <mat-label>Story Name</mat-label>
            <input matInput formControlName="StoryName" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="Description"></textarea>
          </mat-form-field>

          <mat-checkbox color="primary" formControlName="Flag">Flag</mat-checkbox>

          <mat-form-field appearance="fill">
            <mat-label>Status</mat-label>
            <!-- <input matInput formControlName="StatusId" type="number" /> -->
            <mat-select formControlName="StatusId">
              <mat-option *ngFor="let status of statusData" [value]="status.id">{{ status.value }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Board</mat-label>
            <!-- <input matInput formControlName="BoardId" type="number" /> -->
            <mat-select formControlName="BoardId">
              <mat-option *ngFor="let board of boards" [value]="board.BoardId">{{ board.BoardName }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>User</mat-label>
            <!-- <input matInput formControlName="UserId" type="number" /> -->
            <mat-select formControlName="UserId">
              <mat-option *ngFor="let user of users" [value]="user.UserId">{{
                user.UserName
                }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Sprint</mat-label>
            <!-- <input matInput formControlName="SprintId" type="number" /> -->
            <mat-select formControlName="SprintId">
              <mat-option *ngFor="let sprint of sprints" [value]="sprint.SprintId">{{ sprint.SprintName }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Epic</mat-label>
            <!-- <input matInput formControlName="EpicId" type="number" /> -->
            <mat-select formControlName="EpicId">
              <mat-option *ngFor="let epic of epics" [value]="epic.EpicId">{{
                epic.EpicName
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Epic -->
        <div *ngSwitchCase="'Epic'">
          <mat-form-field appearance="fill">
            <mat-label>Epic Name</mat-label>
            <input matInput formControlName="EpicName" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="Description"></textarea>
          </mat-form-field>
        </div>

        <!-- User -->
        <div *ngSwitchCase="'User'">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="UserName" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" type="email" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput formControlName="Password" type="password" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <!-- <input matInput formControlName="RoleId" type="number" /> -->
            <mat-select formControlName="RoleId">
              <mat-option *ngFor="let r of roles" [value]="r.id">{{
                r.Title
                }}</mat-option>
              <mat-option (onSelectionChange)="onCreateNewRoleClick()">
                + Create New Role
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Release -->
        <div *ngSwitchCase="'Release'">
          <mat-form-field appearance="fill">
            <mat-label>Release Name</mat-label>
            <input matInput formControlName="ReleaseName" required />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Sprint ID</mat-label>
            <!-- <input matInput formControlName="SprintId" type="number" /> -->
            <mat-select formControlName="SprintId">
              <mat-option *ngFor="let s of sprints" [value]="s.SprintId">{{
                s.SprintName
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-container>

      <div class="d-flex flex-row justify-between">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onSubmit()" [disabled]="!entityForm.valid">
          Submit
        </button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>