.main-container {
  width: 73dvw;
}

.story-title {
  text-transform: capitalize;
  font-size: 30px;
  margin: 20px 0px;
}

.story-des {
  margin: 0px;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 500;
}

.story-user {
  font-size: 16px;
  font-weight: 500;
  color: #535151;
}
