<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidebar" [opened]="isAuth?true:false">
    <!-- <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>close</mat-icon>
        </button> -->
    <ng-container *ngIf="isAuth">

      <div>
        <input type="text" class="search-input" placeholder="Search a board, sprint, story..." />
      </div>
      <mat-list role="list">
        <mat-list-item role="listitem" [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/">Home</mat-list-item>
        <mat-list-item role="listitem" [routerLinkActive]="'activeLink'"
          routerLink="boards/dashboard">Boards</mat-list-item>
        <mat-list-item role="listitem" [routerLinkActive]="'activeLink'"
          routerLink="sprints/dashboard">Sprints</mat-list-item>
        <mat-list-item role="listitem" [routerLinkActive]="'activeLink'"
          routerLink="stories/dashboard">Stories</mat-list-item>
        <mat-list-item role="listitem" [routerLinkActive]="'activeLink'"
          routerLink="epic/dashboard">Epics</mat-list-item>
        <mat-list-item role="listitem" [routerLinkActive]="'activeLink'"
          routerLink="releases/dashboard">Releases</mat-list-item>
        <mat-list-item role="listitem" [routerLinkActive]="'activeLink'"
          routerLink="user/dashboard">Users</mat-list-item>
      </mat-list>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav-content class="content" [ngClass]="
       sidenav.opened? 'w-80p':  'w-100dvh'
    ">
    <mat-toolbar>
      <div class="logo">
        <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isAuth">
          <mat-icon>menu</mat-icon>
        </button>
        <span>ScrumPro</span>
      </div>
      <!-- <div class="example-button-row"> -->
      <div class="div2">

        <button mat-flat-button color="primary" (click)="openDialog()"
          *ngIf="user?.role?.title?.toLowerCase()==='manager'||user?.role?.title?.toLowerCase()==='lead'">
          Create +
        </button>
        <button mat-flat-button color="primary" (click)="Logout()" *ngIf="isAuth">
          Log Out
        </button>
        <button mat-flat-button color="basic" class="user-label" *ngIf="isAuth">
          {{user?.userName}}
        </button>
        <!-- <div>
          <mat-label>Cars</mat-label>
          <select matNativeControl required>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </div> -->
      </div>
      <!-- <button mat-flat-button disabled>Disabled</button> -->
      <!-- <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a> -->
      <!-- </div> -->

      <!-- <div class="search-container">
                <mat-form-field appearance="outline">
                  <mat-label>Search</mat-label>
                  <input matInput type="text">
                </mat-form-field>
              </div> -->
    </mat-toolbar>
    <!-- <p>Main Content Here</p> -->
    <main class="router-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>