.main-container {
  width: 73dvw;
}

.task-title {
  text-transform: capitalize;
  font-size: 30px;
  margin: 20px 0px;
}

.task-des {
  margin: 0px;
  font-size: 17px;
  text-transform: capitalize;
  font-weight: 500;
}
